<div class="card-body">
  <h5 class="card-title">id: {{event?.id}}</h5>
  <p class="card-text">date : {{event?.date}} </p>

    <div [ngSwitch]="event?.time" [class.green]="event?.time==='8:00 AM'"
    [ngStyle]="{'color':event?.time==='8:00 AM'? '#003300':'#bbb',
     'font-weight':event?.time==='8:00 AM'?'bold':'normal'}"
    >
      <div *ngSwitchCase="'8:00 AM'">Early Start</div>
      <div *ngSwitchCase="'12:00 AM'">Late Start</div>
      <div *ngSwitchDefault>Normal Start</div>
  </div>

  <p class="card-text">Description: {{event?.desctiption}} </p>
 
  
</div>